@import "swiper/css";
@import "swiper/css/navigation";

:root {
  --font-family-base: "Inter", sans-serif;
  --header-height: 76px;
  --header-border-color: #dadada;
  --color-base: #212121;
  --color-base-rgb:33,33,33;
  --color-white: 255,255,255;
  --color-black:0,0,0;
  --color-accent: #5433EB;
  --color-accent-hover: rgb(84, 51, 235, 0.8);
  --color-gray-dark: #777777;
  --color-gray: #d9d9d5;
  --color-gray-light: #eaeaea;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-base);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/* リセットスタイル */
a {
  color: inherit;
  text-decoration: none;
}

img:not([data-nimg]) {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

picture {
  display: block;
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

input {
  border: none;
}

/* 共通ユーティリティ */
main {
  margin-top: var(--header-height);
  flex: 1;
}

.inner {
  width: 100%;
  max-width: 1440px;
  padding-inline: 60px;
  margin: 0 auto;
  position: relative;
}

.sp__only {
  display: none;
}

.indent {
  text-indent: -1em;
  padding-left: 1em;
}

.is-left {
  text-align: left;
}

.button-block {
  width: 240px;
  margin: 48px auto 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.6rem;
  color: rgb(var(--color-white));
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  background-color: var(--color-base);
  padding: 16px 0;
  transition: background-color .2s;
}

/* .button--md {
  font-size: 1.6rem;
  padding: 16px 0;
} */

.button--lg {
  font-size: 1.8rem;
  padding: 13.5px 8px;
  width: 100%;
  margin: 32px auto 0;
}

.button--base:hover {
  background-color: rgb(var(--color-base-rgb), 0.8);
}

.button--accent {
  background-color: var(--color-accent);
}

.button--accent:hover {
  background-color: var(--color-accent-hover);
}

.button--gray {
  background-color: var(--color-gray);
  color: var(--color-base);
}

.button--gray:hover {
  background-color: var(--color-base);
  color: rgb(var(--color-white));
}

/* 商品レイアウト共通指定 */
.product-wrapper {
  width: 100%;
  padding: 48px 0 96px;
}

.product-heading {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -.7px;
  margin-bottom: 32px;
}

.product-heading.normalCase {
  text-transform: none;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px 24px;
}

.product-item {
  width: 100%;
}

.product-media {
  width: 100%;
  margin-bottom: 16px;
  aspect-ratio: 204 / 292;
}

.product-image {
  width: 100%;
  height: auto;
}

.product-title {
  font-size: 1.7rem;
  line-height: 1;
  margin-bottom: 13px;
}

.product-price {
  font-size: 1.6rem;
  line-height: 1;
}

/* アカウント関連ページ（ログイン、新規会員登録、パスワードリセットetc） */
.page-content {
  width: 100%;
  height: calc(100vh - var(--header-height));
  padding: 64px 0;
  color: var(--color-base);
}

.page-inner {
  width: 100%;
  max-width: 490px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 24px;
  margin: 0 auto;
}

.page-heading {
  text-align: center;
  margin-bottom: 24px;
}

.page-title {
  font-size: clamp(22px, 20.592px + 0.376vw, 26px);
  margin-bottom: 24px;
}

.page-description {
  font-size: clamp(14px, 13.296px + 0.188vw, 16px);
  line-height: 1.7;
}

.page-note {
  font-size: 1.4rem;
  line-height: 1.7;
  margin-top: 24px;
}

.page-hint {
  font-size: 1.2rem;
  color: var(--color-gray-dark);
  margin-top: 8px;
}

.form {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
}

.formField {
  position: relative;
  width: 100%;
}

.formField + .formField {
  margin-top: 16px;
}

.formInput {
  width: 100%;
  padding: 18.5px 18px;
  border: 1px solid var(--color-gray);
}

.formInputWrapper {
  position: relative;
}

.formToggleButton {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
}

.formIcon {
  height: auto;
  object-fit: contain;
}

.formForgot {
  font-size: 1.4rem;
  color: var(--color-gray-dark);
  text-align: right;
  text-decoration: underline;
  text-underline-offset: 2px;
  margin-top: 14px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.formSecondary {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  margin-top: 18px;
}

.link {
  color: var(--color-gray-dark);
  text-decoration: underline;
  text-underline-offset: 2px;
}

.link--pad {
   padding-left: 8px;
}

/* スライダー02 */
.swiper-button-next02,
.swiper-button-prev02 {
  color: var(--color-base) !important;
}

.swiper-button-prev02 {
  left: 15px !important;
}

.swiper-button-next02 {
  right: 15px !important;
}

.swiper-button-prev02:after,
.swiper-button-next02:after {
  font-size: 2.4rem !important;
}

/* Next.js　デフォルトの設定打消し　*/
next-route-announcer {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  :root {
     --header-height: 69px;
  }

  .inner {
    padding-inline: 40px;
  }

  .swiper-button-next02,
  .swiper-button-prev02 {
    display: none !important;
  }
}

@media screen and (max-width: 859px) {
  .product-list {
      grid-template-columns: repeat(3, 1fr);
      gap: 48px 12px;
  }

  .product-title,
  .product-price {
      font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .inner {
    padding-inline: 24px;
  }

  .page-content {
    padding: 40px 0;
  }

  .product-wrapper {
    padding: 40px 0 48px;
  }

  .product-heading {
    font-size: 2.8rem;
    margin-bottom: 28px;
  }

  .button-block {
    width: 200px;
    margin-top: 32px;
  }

  .button {
    font-size: 1.3rem;
  }

  .button--lg {
    font-size: 1.6rem;
    padding: 16px 8px;
  }
}

@media screen and (max-width: 659px) {
  .product-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 36px 12px;
  }

  .formInput {
    padding: 16.5px 18px;
  }

  .formSecondary {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .product-heading {
    font-size: 2.4rem;
    margin-bottom: 24px;
  }

  .product-list {
    gap: 24px 12px;
  }

  .product-title,
  .product-price {
    font-size: 1.4rem;
  }

  .product-title {
    margin-bottom: 9px;
  }

   .sp__only {
    display: block;
  }
}

/* hover*/
.u-hover-line {
  background: linear-gradient(currentColor, currentColor) 100% 100% / 0 1px no-repeat;
  transition: background-size 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .u-hover-line:hover {
    background-size: 100% 1px;
    background-position: 0 100%;
  }
}

/* Loading Button */
.loading-spinner {
  width: 20px;
  height: 20px;
  border: 3px solid #ffffff;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

