.form {
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
}

.searchInput {
    display: block;
    padding: 0;
    width: 100%;
    border: 1px solid transparent;
}

.searchInput:focus {
    outline: none;
}

.searchBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

